<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="layout/basic :: setContent(~{this::content} )">

	<th:block th:fragment="content">
 	 <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<h1 style="margin-top: 30px; margin-bottom:30px;">자유게시판
		 	<span>
                <a th:href="@{/board/register}" >
                    <button type="button" class="btn btn-outline-primary" style=" margin-right:60px; margin-left:10px; margin-bottom:10px;">게시글 등록</button>
                </a>
            </span>
		</h1>
		
		<th:block th:if="${message != null}">
		</th:block>
		
		<th:block th:if="${message == null}">

		
			<form action="/board/search" method="GET">
			    <div style="position: absolute; top: 40px; right: 0%; width: 500px;">
			        <input style="width: 70%; border: 2px solid #2A403D; border-radius: 8px; padding: 7px; font-size: 15px; margin-left:75px;" name="keyword" type="text" placeholder="검색어 입력">
			        <button style="position: absolute; top: 8px; right: 30px; background-color: transparent; border: none;">
			            <img style="width: 25px; margin: 0;" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" alt="검색 아이콘">
			        </button>
			    </div>
			</form>
			
			<!-- 검색 결과 메시지 
			<div class="no-results-message" th:if="${not #lists.isEmpty(list.content)}" th:text="'검색 결과가 없습니다.'"></div>
		
				<div class="no-results-message" th:if="${list.content == null or #lists.isEmpty(list.content)}">검색 결과가 없습니다.</div>
					<div th:if="${list.content != null and not #lists.isEmpty(list.content)}">
					  <!-- 검색 결과가 있을 때 보여줄 내용 
					</div>	-->
					<div class="no-results-message" th:if="${list == null or #lists.isEmpty(list.content)}">검색 결과가 없습니다.</div>
					
					
						<!-- 테이블 시작 -->
		<table class="table table-striped">
			<!-- 부트스트랩의 스타일 적용 -->
			<thead>
				<tr>
					<th scope="col">글번호</th>
					<th scope="col">제목</th>
					<th scope="col">작성자</th>
					<th scope="col">등록일</th>
					<th scope="col">조회수</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dto : ${list}"> <!-- 방명록 리스트를 하나씩 꺼내서 처리하기 -->					
					<th scope="row"> 
						[[${dto.no}]]
					</th> <!--  ,page= ${list.number + 1} 이부분 수정 -->
					<td><a th:href="@{/board/read(no = ${dto.no}, page= ${list.number + 1})}">[[${dto.title}]]</a></td>
					<td>[[${dto.writer}]]</td>
					<td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
					<td>[[${dto.hits}]]</td>
					<!-- 날짜는 년/월/일 포맷으로 처리 -->
				</tr>

			</tbody>
		</table>
		<ul class="pagination h-100 justify-content-center align-items-center">

	         <li th:class=" 'page-item ' + ${(list.number + 1) == page?'active':''} " th:each="page: ${#numbers.sequence(1, list.totalPages)}">
                <a class="page-link" th:href="@{/board/list(page = ${page})}">
                    [[${page}]]
                </a>
            </li>
        
        </ul>
		</th:block>
			
		
		
		<script th:inline="javascript">
			$(document).ready(function(){
			  // 실행할 기능을 정의
			  var msg = [[${msg}]]
			  if(msg != null){
				  alert(msg + "번 글이 등록되었습니다.");
			  }
			});
		</script>
		
	</th:block>

</th:block>