<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<mate charset="utf-8">

<th:block th:replace="layout/basic :: setContent(~{this::content} )">

    <th:block th:fragment="content">
		
		<h1 class="mt-4" >인천시 공연장 정보</h1>

		<center>
		<div style="margin-top:50px; border:none; padding:10px" class="form-group">
		<!-- 파일 이미지
		외부폴더를 절대경로를 이용해서 찾으면 보안문제로 접근 불가 (C:\Users\그린302\Documents\uploadfile\aa.png)
		상대경로를 이용하여 접근해야함 (/uploadfile/aa.png) -->
    	<img th:src="@{'/uploadfile/'+${dto.imgPath}}" onerror="this.onerror=null; this.src='http://www.bsang.co.kr/images/datasheet/SAR8/3.jpg'"
    	style="border:2px solid #2A403D; padding:10px; float:left; width: 400px; height: 270px; margin-top:35px; margin-left:220px; margin-right:80px;">
    
    	<div style="display: flex; margin-top:45px; align-items: center; width: 50%;">
  		<input style="font-size:25pt; border: none; background: transparent; " type="text" class="form-control" name="showstageName" th:value="${dto.showstageName}" readonly >
		</div>
		
    	<div style="display: flex; margin-top:30px; align-items: center; width: 50%;">
  		<label style="width: 105px;">전화번호</label>
  		<input style="border: none; background: transparent; margin-left:11.5px;" type="text" class="form-control" name="phoneNumber" th:value="${dto.phoneNumber}" readonly>
		</div>
		
    	<div style="display: flex; margin-top:1px; align-items: center; width: 50%;">
  		<label style="width: 110px; letter-spacing: 18px; ">주소</label>
  		<input style="border: none; background: transparent; margin-left:5px;" type="text" class="form-control" name="address" th:value="${dto.address}" readonly >
		</div>
		
    	<div style="display: flex; margin-top:2px; align-items: center; width: 50%;">
  		<label style="width: 107px; letter-spacing: 6px;">신주소</label>
  		<input style="border: none; background: transparent; margin-left:8px;" type="text" class="form-control" name="newAddress" th:value="${dto.newAddress}" readonly>
		</div>
		
	 	<div style="display: flex; margin-top:8px; margin-bottom:35px; align-items: center; width: 50%;">
  		<label style="width: 90px;">홈페이지</label>
   		<a th:href="'http://' + ${dto.site}" th:text="${dto.site}" style="border: none; background: transparent; 
  		text-decoration: underline; color: black; margin-left:26px; display: block; text-align: left;" target="_blank" rel="noopener noreferrer" readonly></a>
		</div>
		
		</div>
        </center>

        <!-- 카카오지도 추가 --> 
	    <style>
		.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
		.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
		.map_wrap {position:relative;width:88%;height:500px;}
		#menu_wrap {position:absolute;top:0;left:5px;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
		.bg_white {background:#fff;}
		#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
		#menu_wrap .option{text-align: center;}
		#menu_wrap .option p {margin:10px 0;}  
		#menu_wrap .option button {margin-left:5px;}
		#placesList li {list-style: none;}
		#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
		#placesList .item span {display: block;margin-top:4px;}
		#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
		#placesList .item .info{padding:10px 0 10px 55px;}
		#placesList .info .gray {color:#8a8a8a;}
		#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
		#placesList .info .tel {color:#009900;}
		#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
		#placesList .item .marker_1 {background-position: 0 -10px;}
		#placesList .item .marker_2 {background-position: 0 -56px;}
		#placesList .item .marker_3 {background-position: 0 -102px}
		#placesList .item .marker_4 {background-position: 0 -148px;}
		#placesList .item .marker_5 {background-position: 0 -194px;}
		#placesList .item .marker_6 {background-position: 0 -240px;}
		#placesList .item .marker_7 {background-position: 0 -286px;}
		#placesList .item .marker_8 {background-position: 0 -332px;}
		#placesList .item .marker_9 {background-position: 0 -378px;}
		#placesList .item .marker_10 {background-position: 0 -423px;}
		#placesList .item .marker_11 {background-position: 0 -470px;}
		#placesList .item .marker_12 {background-position: 0 -516px;}
		#placesList .item .marker_13 {background-position: 0 -562px;}
		#placesList .item .marker_14 {background-position: 0 -608px;}
		#placesList .item .marker_15 {background-position: 0 -654px;}
		#pagination {margin:10px auto;text-align: center;}
		#pagination a {display:inline-block;margin-right:10px;}
		#pagination .on {font-weight: bold; cursor: default;color:#777;}
	</style>
	</head>
	<body>
	<h5 style="height:35px; border-bottom: double 4px #2A403D; width: 95%; margin-left:40px;" class="mt-4">공연장 위치</h5>
	<center> 
	<div class="map_wrap">
    	<div id="map" style="margin:20px auto; width:99%; height:99%;position:relative;overflow:hidden;"></div>
    	<div id="menu_wrap" class="bg_white">
        	<div class="option">
            	<div>
                	<form onsubmit="searchPlaces(); return false;">
                    	키워드 : <input type="text" th:value="${dto.showstageName}" id="keyword" size="15"> 
                    	<button type="submit">검색하기</button> 
                	</form>
            	</div>
        	</div>
        <hr>
        <ul id="placesList"></ul>
        <div id="pagination"></div>
    	</div>
	</div>

	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a522c4532f4789c6fcf08af74f03b0ae&libraries=services"></script>
	<script>
	// 마커를 담을 배열입니다
	var markers = [];

	var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    	mapOption = {
        	center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
        	level: 3 // 지도의 확대 레벨
    	};  

	// 지도를 생성합니다    
	var map = new kakao.maps.Map(mapContainer, mapOption); 

	// 장소 검색 객체를 생성합니다
	var ps = new kakao.maps.services.Places();  

	// 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
	var infowindow = new kakao.maps.InfoWindow({zIndex:1});

	// 키워드로 장소를 검색합니다
	searchPlaces();

	// 키워드 검색을 요청하는 함수입니다
	function searchPlaces() {

    	var keyword = document.getElementById('keyword').value;

    	if (!keyword.replace(/^\s+|\s+$/g, '')) {
        	alert('키워드를 입력해주세요!');
        	return false;
    	}

    // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
    ps.keywordSearch( keyword, placesSearchCB); 
	}

	// 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
	function placesSearchCB(data, status, pagination) {
   	 	if (status === kakao.maps.services.Status.OK) {

        	// 정상적으로 검색이 완료됐으면
        	// 검색 목록과 마커를 표출합니다
        	displayPlaces(data);

        	// 페이지 번호를 표출합니다
        	displayPagination(pagination);

    	} else if (status === kakao.maps.services.Status.ZERO_RESULT) {

        	//alert('검색 결과가 존재하지 않습니다.');
        	return;

    	} else if (status === kakao.maps.services.Status.ERROR) {

        	alert('검색 결과 중 오류가 발생했습니다.');
        	return;

    	}
	}

	// 검색 결과 목록과 마커를 표출하는 함수입니다
	function displayPlaces(places) {

    var listEl = document.getElementById('placesList'), 
    menuEl = document.getElementById('menu_wrap'),
    fragment = document.createDocumentFragment(), 
    bounds = new kakao.maps.LatLngBounds(), 
    listStr = '';
    
    // 검색 결과 목록에 추가된 항목들을 제거합니다
    removeAllChildNods(listEl);

    // 지도에 표시되고 있는 마커를 제거합니다
    removeMarker();
    
    for ( var i=0; i<places.length; i++ ) {

        // 마커를 생성하고 지도에 표시합니다
        var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
            marker = addMarker(placePosition, i), 
            itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
        // LatLngBounds 객체에 좌표를 추가합니다
        bounds.extend(placePosition);

        // 마커와 검색결과 항목에 mouseover 했을때
        // 해당 장소에 인포윈도우에 장소명을 표시합니다
        // mouseout 했을 때는 인포윈도우를 닫습니다
        (function(marker, title) {
            kakao.maps.event.addListener(marker, 'mouseover', function() {
                displayInfowindow(marker, title);
            });

            kakao.maps.event.addListener(marker, 'mouseout', function() {
                infowindow.close();
            });

            itemEl.onmouseover =  function () {
                displayInfowindow(marker, title);
            };

            itemEl.onmouseout =  function () {
                infowindow.close();
            };
        })(marker, places[i].place_name);

        fragment.appendChild(itemEl);
    }

    	// 검색결과 항목들을 검색결과 목록 Element에 추가합니다
    	listEl.appendChild(fragment);
    	menuEl.scrollTop = 0;

    	// 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
    	map.setBounds(bounds);
	}

	// 검색결과 항목을 Element로 반환하는 함수입니다
	function getListItem(index, places) {

    var el = document.createElement('li'),
    itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                '<div class="info">' +
                '   <h5>' + places.place_name + '</h5>';

    if (places.road_address_name) {
        itemStr += '    <span>' + places.road_address_name + '</span>' +
                    '   <span class="jibun gray">' +  places.address_name  + '</span>';
    } else {
        itemStr += '    <span>' +  places.address_name  + '</span>'; 
    }
                 
      itemStr += '  <span class="tel">' + places.phone  + '</span>' +
                '</div>';           

    el.innerHTML = itemStr;
    el.className = 'item';

    return el;
	}

	// 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
	function addMarker(position, idx, title) {
    var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
        imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
        imgOptions =  {
            spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
            spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
            offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
        },
        markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
            marker = new kakao.maps.Marker({
            position: position, // 마커의 위치
            image: markerImage 
        });

    marker.setMap(map); // 지도 위에 마커를 표출합니다
    markers.push(marker);  // 배열에 생성된 마커를 추가합니다

    return marker;
	}

	// 지도 위에 표시되고 있는 마커를 모두 제거합니다
	function removeMarker() {
    for ( var i = 0; i < markers.length; i++ ) {
        markers[i].setMap(null);
    }   
    markers = [];
	}

	// 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
	function displayPagination(pagination) {
    var paginationEl = document.getElementById('pagination'),
        fragment = document.createDocumentFragment(),
        i; 

    // 기존에 추가된 페이지번호를 삭제합니다
    while (paginationEl.hasChildNodes()) {
        paginationEl.removeChild (paginationEl.lastChild);
    }

    for (i=1; i<=pagination.last; i++) {
        var el = document.createElement('a');
        el.href = "#";
        el.innerHTML = i;

        if (i===pagination.current) {
            el.className = 'on';
        } else {
            el.onclick = (function(i) {
                return function() {
                    pagination.gotoPage(i);
                }
            })(i);
        }

        fragment.appendChild(el);
    }
    paginationEl.appendChild(fragment);
	}

	// 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
	// 인포윈도우에 장소명을 표시합니다
	function displayInfowindow(marker, title) {
    var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

    infowindow.setContent(content);
    infowindow.open(map, marker);
	}

	 // 검색결과 목록의 자식 Element를 제거하는 함수입니다
	function removeAllChildNods(el) {   
    while (el.hasChildNodes()) {
        el.removeChild (el.lastChild);
    }
	}
		</script>
		</center>
		
		<!-- 기타정보 추가 -->
		<h5 style="height:35px; border-bottom: double 4px #2A403D; width: 95%; margin-left:40px; " class="mt-4">운영시간</h5>
		<div style="border:none; padding:10px; width: 94%; margin-left:44px;" class="form-group">     
        <textarea  style="width: 100%; height:55px; border: none; resize: none; background-color: none; border-radius: 5px 5px 5px 5px; padding:15px;" 
		th:utext="${dto.opentime}" readonly >
		</textarea>
		</div>
		
		<h5 style="height:35px; border-bottom: double 4px #2A403D; width: 95%; margin-left:40px; " class="mt-4">휴무일</h5>
		<div style="border:none; padding:10px; width: 94%; margin-left:44px;" class="form-group">     
        <textarea  style="width: 100%; height:55px; border: none; resize: none; background-color: none; border-radius: 5px 5px 5px 5px; padding:15px;" 
		th:utext="${dto.restday}" readonly >
		</textarea>
		</div>
		
		<h5 style="height:35px; border-bottom: double 4px #2A403D; width: 95%; margin-left:40px; " class="mt-4">그 외 정보안내</h5>
		<div style="border:none; padding:10px; width: 94%; margin-left:44px;" class="form-group">
		<textarea  style="width: 100%; height: 28em; border: none; resize: none; background-color: none; border-radius: 5px 5px 5px 5px; padding:20px;" 
		th:utext="${dto.description}" readonly >
		</textarea>
		</div>
		
		<h5 style="height:35px; border-bottom: double 4px #2A403D; width: 95%; margin-left:40px; " class="mt-4">티켓 예매 사이트</h5>
		<div style="margin-top:30px; border:none; padding:5px; width: 100%;" class="form-group">  
		<!-- 이 예제에서는 필요한 js, css 를 링크걸어 사용 -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
		<style type="text/css">
		.swiper-container {
			height:90px;
		}
		.swiper-slide {
			text-align:center;
			display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
			align-items:center; /* 위아래 기준 중앙정렬 */
			justify-content:center; /* 좌우 기준 중앙정렬 */
		}
		.swiper-slide img {
			max-width:100%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
			/* 이 예제에서 필요해서 설정했습니다. 상황에따라 다를 수 있습니다. */
		}
		</style>

		<!-- 클래스명은 변경하면 안 됨 -->
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
			<a href="https://ticket.melon.com/main/index.htm" target="_blank">  
		<img style="margin-right:55px;"width="200" height="90" alt="" src="https://noonnucc-production.sfo2.cdn.digitaloceanspaces.com/noonnudcf07ac892d703b35df8400f5c02d8af1666246072" />
			</a></div>
				<div class="swiper-slide">
			<a href="http://ticket.interpark.com/" target="_blank">
  		<img style="margin-right:55px;"width="200" height="90" alt="" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcsnaXD%2FbtqxB6Hdt3R%2F0gnbFKpuvtMkd57m4dKFf0%2Fimg.jpg" />
			</a></div>
				<div class="swiper-slide">
			<a href="http://ticket.yes24.com/" target="_blank">
  		<img style="margin-right:55px;"width="200" height="90" alt="" src="https://image.yes24.com/images/00_Event/2023/logoplay/ani_logo_newBI.gif?v=20230413" />
			</a></div>
				<div class="swiper-slide">
			<a href="https://www.nanumticket.or.kr/" target="_blank">
  		<img style="margin-right:30px;"width="200" height="90" alt="" src="https://www.arko.or.kr/assets/images/content/sub02_02_03.jpg" />
			</a></div>
				<div class="swiper-slide">
			<a href="https://m.ticketbay.co.kr/mobile/main" target="_blank">
  		<img style="margin-right:55px;"width="200" height="90" alt="" src="https://pds.saramin.co.kr/company/logo/201810/01/pfwiky_o9lc-toefga_logo.png" />
			</a></div>
				<div class="swiper-slide">
			<a href="http://www.ticketlink.co.kr/home" target="_blank">
  		<img style="margin-right:55px;"width="200" height="90" alt="" src="https://tketlink.dn.toastoven.net/static/ticketlink_renewal.png" />
			</a></div>
				<div class="swiper-slide">
			<a href="https://timeticket.co.kr/" target="_blank">
  		<img style="margin-right:55px;"width="200" height="90" alt="" src="https://timeticket.co.kr/img/logo/logo_400.png" />
			</a></div>
				<div class="swiper-slide">
			<a href="https://ticket.m.11st.co.kr/" target="_blank">
 		<img width="200" height="90" alt="" src="https://i.namu.wiki/i/HZ5cOyKZfP3gqPJ00ycVr0vOIecpytOhwUJXKXV0Xc32SVQh9KVeW419AvQjUCcXP1Z886xuc7gDkY0KhE3uYVv8zAumSH6zrQ0CFZ1Duvb8agN7N-NS5YB0CXumKMSsE0d1H0tCcp-yO6ymTBYDPw.svg" />
			</a></div>
		</div>

		<!-- 네비게이션 -->
		<div class="swiper-button-next"></div><!-- 오른쪽 버튼 -->
		<div class="swiper-button-prev"></div><!-- 왼쪽 버튼 -->

		<!-- 페이징 -->
		<div class="swiper-pagination"></div>
		</div>
		<div style="text-align:center; margin-top:40px;"></div>
		<script>

		new Swiper('.swiper-container', {

		slidesPerView : 4, // 동시에 보여줄 슬라이드 갯수
		spaceBetween : 5, // 슬라이드간 간격
		slidesPerGroup : 4, // 그룹으로 묶을 수, slidesPerView 와 같은 값을 지정하는게 좋음

		// 그룹수가 맞지 않을 경우 빈칸으로 메우기
		// 3개가 나와야 되는데 1개만 있다면 2개는 빈칸으로 채워서 3개를 만듬
		loopFillGroupWithBlank : true,

		loop : true, // 무한 반복

		pagination : { // 페이징
			el : '.swiper-pagination',
			clickable : true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
		},
		navigation : { // 네비게이션
			nextEl : '.swiper-button-next', // 다음 버튼 클래스명
			prevEl : '.swiper-button-prev', // 이번 버튼 클래스명
		},
	});

		</script>
		</div>
		
		
        <div style="margin-top:15px; margin-left:50px; margin-right:53px; float: left; width: 45%;" class="form-group">
            <label >등록일</label>
            <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <div style="margin-top:15px; float: left; width: 45%;" class="form-group">
            <label >수정일</label>
            <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>

        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/showstage/modify(no = ${dto.no})}">
        	<button style="margin-top:30px; margin-bottom:20px; margin-left:20%;" type="button" class="btn btn-primary">수정</button>
        </a>

		<!-- 목록페이지 링크 수정 -->
        <a th:href="@{/showstage/list(page=${page})}">
        	<button style="margin-top:30px; margin-bottom:20px; margin-left:47%;" type="button" class="btn btn-info">목록으로</button>
        </a>

    </th:block>

</th:block>