<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script th:src="@{/js/scripts.js}"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        
        <style>
        	.form-group {margin : 5px 1px;}
        
		    body {
    			background:#efefef;
		    }
		    .input-div {
		      max-width: 680px;	
		      margin-top: 80px;
		      padding: 32px;
		      background: #fff;
		      -webkit-border-radius: 10px;
		      -moz-border-radius: 10px;
		      border-radius: 10px;
		      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
		      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
		      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
		    }
	  </style>
    </head>
    <body>
    	 <div class="row justify-content-center">
    		<div class="input-div">
	    	    <h1 class="mt-4">Login</h1>
	    	    <form th:action="@{/login}" th:method="post">
		            <div class="alert alert-danger" th:if="${param.error != null}">
		                사용자ID 또는 비밀번호를 확인해 주세요..
		            </div>       
		            <div style="margin-top:20px;" class="form-group">
		                <label >아이디</label>
		                <input type="text" class="form-control" name="username">
		            </div>
		            <div class="form-group">
		                <label >패스워드</label>
		                <input type="password" class="form-control" name="password">
		            </div>		            
		            <button style="margin-top:10px;" type="submit" class="btn btn-primary">Login</button>
	        	</form>
        	</div>
    	 </div>
    </body>
</html>